.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.radio-button {
    display: inline-block;
    margin: 4px;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: inline-block;
    padding: 10px 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px;
}

.radio-button input[type="radio"]:checked+label {
    background-color: #007bff;
    color: #ffffff;
}