body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: transform 0.5s;
}

.content {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    background-image: url('images/crafty_zoo_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.second {
    background-image: url('images/crafty_zoo_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.third {
    background-image: url('images/crafty_zoo_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}